.tools/
backups/
build/*
!build/.gitkeep
reports/AssetRipper.log
reports/*.png
reports/*.jpg
reports/*.jpeg
source/*.asset.json
src/**/bin/
src/**/obj/
tools/**/bin/
tools/**/obj/
__pycache__/
*.pyc
*.user
*.suo
.vs/
